# App
NODE_ENV=development

# Redis
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Server
PORT=3005
LOG_LEVEL=info

# Security
XENDIT_CALLBACK_TOKEN=your-xendit-callback-token

# Admin
ADMIN_BEARER_TOKEN=your-admin-token
ADMIN_USER=user

# Config
TARGETS_FILE_PATH=./targets.json

# Docker Network
EXTERNAL_NETWORK=payment-webhook-hub-network

# Alerting
DISCORD_WEBHOOK_URL=
